body {
    font-family: sans-serif;
}

.number {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
    background-color: crimson;
    color: white;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
}

.digit {
    position: relative;
    display: inline-block;
    width: 100%;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spin1 {
    0% {
        top: 0;
    }
    20% {
        top: -8em;
    }
    100% {
        top: -8em;
    }
}

@keyframes spin2 {
    0% {
        top: 0;
    }
    20% {
        top: -3em;
    }
    100% {
        top: -3em;
    }
}

@keyframes spin3 {
    0% {
        top: 0;
    }
    20% {
        top: -1em;
    }
    100% {
        top: -1em;
    }
}

/* Setting the required value to top will make the spinner end at that number */
#digit1 {
    animation-name: spin1;
}

#digit2 {
    animation-name: spin2;
}

#digit3 {
    animation-name: spin3;
}